.header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  border-bottom: 1px solid black;
}
.logo {
  display: flex;
  padding: 10px 20px;
}
.logo p {
  color: mediumaquamarine;
  padding: 10px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
